/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
<<<<<<< HEAD
=======
  height: 90vh;
>>>>>>> 97765f2255be4e12ce3dfb597c10517c38dba94d
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
