/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html {
  background: gray;
}

img{
  display: block;
  margin: 0 auto;
  width: 20%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
